<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="name">name<name/label>
        <input type="text" id="name" name=""  value="{{s.Name}}" >
        <label for="fundcode">fundcode</label>
        <input type="number" id="fundcode" name="fundcode" value="{{s.fundcode}}">
        <label for="investedamount">investedamount</label>
        <input type="number" id="investedamount" name="investedamount" value="{{s.investedamount}}">
        <label for="unitheld">unitheld</label>
        <input type="number" id="unitheld" name="unitheld" value="{{s.unitheld}}">
        <input type="submit" value="submit">
        

    </form>
</body>
</html>